pandas
numpy
pyarrow
openpyxl

plotly
streamlit

matplotlib

scikit-learn
joblib

fastapi
uvicorn
python-dotenv

snowflake-connector-python

boto3

dbt-core
dbt-snowflake

apache-airflow
apache-airflow-providers-snowflake